Repository kaze-no-manga/database: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run lint', bash -c 'npm run test:coverage', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: complete database package with Drizzle ORM and AWS Data API
  .kiro/settings/lsp.json
  README.md
  db/migrations/20251212154900_elite_makkari/migration.sql
  db/migrations/20251212154900_elite_makkari/snapshot.json
  drizzle.config.ts
  lib/db/index.ts
  lib/graphql/schema.graphql
  lib/index.ts
  lib/models/chapters.ts
  lib/models/history.ts
  lib/models/index.ts
  lib/models/library.ts
  lib/models/mangas.ts
  lib/models/notifications.ts
  lib/models/users.ts
  package-lock.json
  package.json
  tsconfig.json
Due: bash -c 'npm run lint', bash -c 'npm run test:coverage', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement Aurora Serverless v2 database with cost-optimized migration system
  README.md
  aws/.gitignore
  aws/README.md
  aws/bin/database.ts
  aws/cdk.context.json
  aws/cdk.json
  aws/lib/aurora-database-construct.ts
  aws/lib/constants.ts
  aws/lib/database-stack.ts
  aws/lib/migration-construct.ts
  aws/package.json
  aws/src/migration.ts
  aws/src/package.json
  aws/test/aurora-database-construct.test.ts
  aws/test/database-stack.test.ts
  package-lock.json
  package.json
Due: bash -c 'npm run lint', bash -c 'npm run test:coverage', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :sparkles: Added the deploy workflow
  .github/workflows/deploy.yml
  package.json
Due: bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: :fire: Removed the path
  .github/workflows/deploy.yml
Due: none

ci: :fire: Removed the `working-directory`
  .github/workflows/deploy.yml
Due: none

build: :ambulance: Re-synced the package-lock file
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: :bug: Adding a default value
  aws/lib/migration-construct.ts
Due: bash -c 'npm run test:coverage', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: :ambulance: Fixed the param name
  aws/src/migration.ts
Due: bash -c 'npm run test:coverage', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

build: :bug: Hopefully now it doesn't give error anymore
  aws/cdk.context.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: :bug: Fixed the double folder migrations
  aws/src/migration.ts
Due: bash -c 'npm run test:coverage', bash -c 'npm run build', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

build: :ambulance: Added the deploy script
  aws/src/package.json
Due: bash -c 'npm run lint', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  bash -c 'npm run lint': any of: package.json
  bash -c 'npm run test:coverage': any of: *.ts
  bash -c 'npm run build': any of: *.ts
  bash -c 'npm run clean': any of: *.ts
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{ts,tsx,cjs,json,yaml,graphql,md,css,scss,html}
